.wrapper .radio_tabs {
    height: 60px;
    background: #fff;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 20px;
    padding: 18px;
    display: flex;
    box-shadow: 0,0,2px rgba(0,0,0,0.1);
}

.wrapper .radio_tabs label{
    margin-right: 15px;
    display: block;
    position: relative;
    cursor: pointer;
    padding-left: 28px;

}

.wrapper .radio_tabs label .radio_mark:before{
    content:"";
    position: absolute;
    top: 2px;
    left: 0;
    background: url("{% static 'images/radio_icon.png' %}") no-repeat 0 0;
    width: 22px;
    height: 22px;
}

.wrapper .radio_tabs label .input{
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
}

.wrapper .radio_tabs label .input:checked ~ .radio_mark {
    color: #ff5d66;
}

.wrapper .radio_tabs label .input:checked ~ .radio_mark:before {
    background-position: 0 -23px; 
    width: 22px;
    height: 22px;
}

.wrapper .content {
    width: 100%;
    height: calc(100% - 70px);
    background: #fff;
    border-radius: 5px;
    padding: 18px;
    box-shadow: 0 0 2px rgba(0,0,0,0.1);
}

.wrapper .content p{
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 15px;
}



table {
border-collapse: collapse;
margin: 0;
width: 100%;
box-shadow: 0 0 5px rgba(0, 0, 0, .25);
}

table tr {
padding: .45em;
}

tbody tr:nth-child(even) {
background-color: #eaeaea;
}

table th,
table td {
font-size: 1em;
padding: 1em;
text-align: center;
}

thead th{
font-size: 1.15em;
}

@media (min-width: 0px) and (max-width: 740px)  {
    table {
        border: 3px solid #c5c1c3;
    }

    table thead tr{
        display: none;
    }

    table tr {
        display: block;
    }

    table th, table td{
        padding: .5em;
    }

    table td {
        text-align: right;
        display: block;
        font-size: 1em;
    }

    table td::before {
        content: attr(data-title) ": ";
        float: left;
    }

    tbody tr:nth-child(even) {
        background-color: #eaeaea;
    }
}

@media (min-width: 740px) and (max-width: 1200px)  {
    table {
        border: 3px solid #c5c1c3;
    }

    table thead tr{
        display: none;
    }

    table tr {
        display: block;
    }

    table th, table td{
        padding: .5em;
    }

    table td {
        text-align: right;
        display: block;
        font-size: 1em;
    }

    table td::before {
        content: attr(data-title) ": ";
        float: left;
    }

    tbody tr:nth-child(even) {
        background-color: #eaeaea;
    }
}