{% extends 'base.html' %}
{% load static %}

{% block content %}

<div>
    <h3>PRESEASON STATS</h3>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">SEASON</th>
            <th scope="col">TEAM</th>
            <th scope="col">AGE</th>
            <th scope="col">GP</th>
            <th scope="col">GS</th>
            <th scope="col">MIN</th>
            <th scope="col">FG_PCT</th>
            <th scope="col">FG3_PCT</th>
            <th scope="col">FT_PCT</th>
            <th scope="col">REB</th>
            <th scope="col">AST</th>
            <th scope="col">STL</th>
            <th scope="col">BLK</th>
            <th scope="col">TOV</th>
            <th scope="col">PF</th>
            <th scope="col">PTS</th>
        </tr>
        </thead>
        <tbody>
        {% for tps in totals_pre_season %}
        <tr>
            <td data-title="SEASON">{{ tps.SEASON_ID }}</td>
            <td data-title="TEAM">{{ tps.TEAM_ABBREVIATION }}</td>
            <td data-title="AGE">{{ tps.PLAYER_AGE }}</td>
            <td data-title="GP">{{ tps.GP }}</td>
            <td data-title="GS">{{ tps.GS }}</td>
            <td data-title="MIN">{{ tps.MIN }}</td>
            <td data-title="FG_PCT">{{ tps.FG_PCT }}</td>
            <td data-title="FG3_PCT">{{ tps.FG3_PCT }}</td>
            <td data-title="FT_PCT">{{ tps.FT_PCT }}</td>
            <td data-title="REB">{{ tps.REB }}</td>
            <td data-title="AST">{{ tps.AST }}</td>
            <td data-title="STL">{{ tps.STL }}</td>
            <td data-title="BLK">{{ tps.BLK }}</td>
            <td data-title="TOV">{{ tps.TOV }}</td>
            <td data-title="PF">{{ tps.PF }}</td>
            <td data-title="PTS">{{ tps.PTS }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    </div>

{% endblock %}