{% extends 'base.html' %}
{% load static %}

{% block content %}

<div>
    <h3>RANKINGS POST SEASON</h3>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">SEASON</th>
            <th scope="col">TEAM</th>
            <th scope="col">MIN</th>
            <th scope="col">FG_PCT</th>
            <th scope="col">FG3_PCT</th>
            <th scope="col">FT_PCT</th>
            <th scope="col">REB</th>
            <th scope="col">AST</th>
            <th scope="col">STL</th>
            <th scope="col">BLK</th>
            <th scope="col">TOV</th>
            <th scope="col">PTS</th>
            <th scope="col">EFF</th>
            
        </tr>
        </thead>
        <tbody>
        {% for rps in rankings_post_season %}
        <tr>
            <td data-title="SEASON">{{ rps.SEASON_ID }}</td>
            <td data-title="TEAM">{{ rps.TEAM_ABBREVIATION }}</td>
            <td data-title="MIN">{{ rps.RANK_MIN }}</td>
            <td data-title="FG_PCT">{{ rps.RANK_FG_PCT }}</td>
            <td data-title="FG3_PCT">{{ rps.RANK_FG3_PCT }}</td>
            <td data-title="FT_PCT">{{ rps.RANK_FT_PCT }}</td>
            <td data-title="REB">{{ rps.RANK_REB }}</td>
            <td data-title="AST">{{ rps.RANK_AST }}</td>
            <td data-title="STL">{{ rps.RANK_STL }}</td>
            <td data-title="BLK">{{ rps.RANK_BLK }}</td>
            <td data-title="TOV">{{ rps.RANK_TOV }}</td>
            <td data-title="PTS">{{ rps.RANK_PTS }}</td>
            <td data-title="EFF">{{ rps.RANK_EFF }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<br>

{% endblock %}