<html lang="en">

<head>
	<meta charset="UTF-8">

      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

      <link href="../css/styles.css" rel="stylesheet">
	<title></title>

	<!-- INCLUDING JQUERY-->


		
</head>

<body>
    <div class="container">
    <h2><b>BOX SCORE DATA</b></h2>

    <div>
    <h3><b>TEAM STATS</b></h3>
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">TEAM</th>
            <th scope="col">MIN</th>
            <th scope="col">FG_PCT </th>
            <th scope="col">FG3_PCT</th>
            <th scope="col">REB</th>
            <th scope="col">AST</th>
            <th scope="col">STL</th>
            <th scope="col">BLK</th>
            <th scope="col">TO</th>
            <th scope="col">PTS</th>
            <th scope="col">PLUS_MINUS</th>
          </tr>
        </thead>
            <tbody id="data-output">
          
            </tbody>
    </table>
    </div>
    <br>
    <div>
        <h3><b>STARTERS_BENCH STATS</b></h3>
        <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">TEAM</th>
                <th scope="col">START_BENCH</th>
                <th scope="col">MIN</th>
                <th scope="col">FG_PCT </th>
                <th scope="col">FG3_PCT</th>
                <th scope="col">REB</th>
                <th scope="col">AST</th>
                <th scope="col">STL</th>
                <th scope="col">BLK</th>
                <th scope="col">TO</th>
                <th scope="col">PTS</th>
              </tr>
            </thead>
                <tbody id="data-output1">
              
                </tbody>
        </table>
    </div>
    <br>
    <div>
        <h3><b>PLAYER STATS</b></h3>
        <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">TEAM</th>
                <th scope="col">PLAYER_NAME</th>
                <th scope="col">START_POSITION</th>
                <th scope="col">MIN</th>
                <th scope="col">FG_PCT </th>
                <th scope="col">FG3_PCT</th>
                <th scope="col">REB</th>
                <th scope="col">AST</th>
                <th scope="col">STL</th>
                <th scope="col">BLK</th>
                <th scope="col">TO</th>
                <th scope="col">PTS</th>
              </tr>
            </thead>
                <tbody id="data-output2">
              
                </tbody>
        </table>
    </div>
    </div>

    <script type="text/javascript" src='../js/game_box_score.js'></script>
	
</body>

</html>
