<html lang="en">

<head>
	<meta charset="UTF-8">

      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

      <link href="../css/styles.css" rel="stylesheet">
	<title></title>

	<!-- INCLUDING JQUERY-->


		
</head>

<body>
    <div class="container">
        <div id="profile-header">
           
          
           
           </div>
        <div>
            <h3><b>NEXT GAME</b></h3>
            <table class="table">
               <thead class="thead-dark">
               <tr>
                   <th scope="col">GAME_DATE</th>
                   <th scope="col">GAME_TIME</th>
                   <th scope="col">HOME / AWAY</th>
                   <th scope="col">VS_TEAM</th>
               </tr>
               </thead>
               <tbody id="data-output">

               </tbody>
           </table>
        </div>
    </div>

    <script type="text/javascript" src='../js/player_profile.js'></script>
	
</body>

</html>
