{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div>
    <h1>TEAMS</h1>
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Full Name</th>
            <th scope="col">Abbreviation</th>
            <th scope="col">Nickname</th>
            <th scope="col">City</th>
            <th scope="col">State</th>
            <th scope="col">Year Founded</th>
          </tr>
        </thead>
        <tbody>
        {% for t in all_teams %}
        
          <tr>
            <td data-title="Full_name"><a href="{% url 'nba_data_app:team_profile' id=t.id %}" >{{ t.full_name }}</a></td>
            <td data-title="Abbreviation">{{ t.abbreviation }}</td>
            <td data-title="Nickname">{{ t.nickname }}</td>
            <td data-title="City">{{ t.city }}</td>
            <td data-title="State">{{ t.state }}</td>
            <td data-title="Year Founded">{{ t.year_founded }}</td>
          </tr>
        
        {% endfor %}
        </tbody>
      </table>
    </div>
      
   
{% endblock %}