{% extends 'base.html' %}
{% load static %}

{% block content %}
<div>
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">TEAM_ABBR</th>

            <th scope="col">MIN</th>
            <th scope="col">FG_PCT </th>
            <th scope="col">FG3_PCT</th>
            <th scope="col">REB</th>
            <th scope="col">AST</th>
            <th scope="col">STL</th>
            <th scope="col">BLK</th>
            <th scope="col">TO</th>
            <th scope="col">PTS</th>
            <th scope="col">PLUS_MINUS</th>
          </tr>
        </thead>
        <tbody>
         {% for ts in team_stats %}
          <tr>
            <td>{{ ts.TEAM_ABBREVIATION }}</td>
            <td>{{ ts.MIN }}</td>
            <td>{{ ts.FG_PCT }}</td>
            <td>{{ ts.FG3_PCT }}</td>
            <td>{{ ts.REB }}</td>
            <td>{{ ts.AST }}</td>
            <td>{{ ts.STL }}</td>
            <td>{{ ts.BLK }}</td>
            <td>{{ ts.TO }}</td>
            <td>{{ ts.PTS }}</td>
            <td>{{ ts.PLUS_MINUS }}</td>
          </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<br>

<div>
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">TEAM_ABBR</th>
            <th scope="col">START_BENCH</th>
            <th scope="col">MIN</th>
            <th scope="col">FG_PCT </th>
            <th scope="col">FG3_PCT</th>
            <th scope="col">REB</th>
            <th scope="col">AST</th>
            <th scope="col">STL</th>
            <th scope="col">BLK</th>
            <th scope="col">TO</th>
            <th scope="col">PTS</th>
    
          </tr>
        </thead>
        <tbody>
         {% for sbs in starter_bench_stats %}
          <tr>
            <td>{{ sbs.TEAM_ABBREVIATION }}</td>
            <td>{{ sbs.STARTERS_BENCH}}</td>
            <td>{{ sbs.MIN }}</td>
            <td>{{ sbs.FG_PCT }}</td>
            <td>{{ sbs.FG3_PCT }}</td>
            <td>{{ sbs.REB }}</td>
            <td>{{ sbs.AST }}</td>
            <td>{{ sbs.STL }}</td>
            <td>{{ sbs.BLK }}</td>
            <td>{{ sbs.TO }}</td>
            <td>{{ sbs.PTS }}</td>
            
          </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<br>
<div>
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">TEAM_ABBR</th>
        <th scope="col">PLAYER_NAME</th>
        <th scope="col">START_POSITION</th>
        <th scope="col">MIN</th>
        <th scope="col">FG_PCT </th>
        <th scope="col">FG3_PCT</th>
        <th scope="col">REB</th>
        <th scope="col">AST</th>
        <th scope="col">STL</th>
        <th scope="col">BLK</th>
        <th scope="col">TO</th>
        <th scope="col">PTS</th>
      </tr>
    </thead>
    <tbody>
     {% for ps in player_stats %}
      <tr>
        <td>{{ ps.TEAM_ABBREVIATION }}</td>
        <td><a href="{% url 'nba_data_app:player_profile' id=ps.PLAYER_ID %}">{{ ps.PLAYER_NAME }}</a></td>
        <td>{{ ps.START_POSITION }}</td>
        <td>{{ ps.MIN }}</td>
        <td>{{ ps.FG_PCT }}</td>
        <td>{{ ps.FG3_PCT }}</td>
        <td>{{ ps.REB }}</td>
        <td>{{ ps.AST }}</td>
        <td>{{ ps.STL }}</td>
        <td>{{ ps.BLK }}</td>
        <td>{{ ps.TO }}</td>
        <td>{{ ps.PTS }}</td>
      </tr>
    {% endfor %}
    </tbody>
</table>

</div>
{% endblock %}