{% extends 'base.html' %}
{% load static %}


{% block content %}

{% include "topside.html" %}
    <br/>
    <div class="articles">
        <div class="card">
        <h3>Players with longest tenure in their current teams</h3>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-6">
                <table class="table">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">TEAM</th>
                        <th scope="col">PLAYER </th>
                        <th scope="col">SEASON COUNT</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for ct in current_team %}
                    {% for player in active_players %}
                    {% if ct.CURRENT_TEAM == True and player.id == ct.PLAYER_ID and ct.SEASON_COUNT > 9 %}
                    <tr>
                      <td data-title="TEAM">{{ ct.TEAM_ABBREVIATION }}</td>
                      <td data-title="PLAYER_ID">{{ player.full_name }}</td>
                      <td data-title="SEASON_COUNT">{{ ct.SEASON_COUNT }}</td>
                      <!-- <td data-title="TEAM">{{ t.TEAM_ABBREVIATION }}</td> -->
                    </tr>
                    {% endif %}
                    {% endfor %}
                    {% endfor %}
                    </tbody>
                </table> 
            </div>
            
            <div class="col-md-4">
               
                
            </div>
            
        </div>
        </div>
        <br>
        <div class="card">
            <h3>Players on the move</h3>
            <div class="row">
                <div class="col-md-1">
                    <h3></h3>
                    
                </div>
                <div class="col-md-10">
                    <table class="table">
                        <thead class="thead-dark">
                        <tr>
                          
                            <th scope="col">PLAYER </th>
                            <th scope="col">NO. OF TEAMS</th>
                            <th scope="col">TEAMS_PLAYED_IN</th>
                          </tr>
                        </thead>
                        <tbody>
                        {% for pt in player_teams %}
                        {% for player in active_players %}
                       
                        {% if player.id == pt.PLAYER_ID and pt.NO_OF_TEAMS_PLAYED_IN > 9 %}
                        <tr>
                          <td data-title="PLAYER">{{ player.full_name }}</td>
                          <td data-title="NO. OF TEAMS">{{ pt.NO_OF_TEAMS_PLAYED_IN}}</td>
                          <td data-title="TEAMS_PLAYED_IN">{{ pt.TEAMS_PLAYED_IN }}</td>
                        </tr>
                        {% endif %}

                        {% endfor %}
                        {% endfor %}
                        </tbody>
                    </table> 
                </div>
                
                <div class="col-md-1">
                    <h3></h3>
                    
                </div>
                
            </div>
        </div>

    </div>
    <!-- <div>
        <h1></h1>
        
    </div>

    <div>
        
    </div> -->
    <!-- <svg id="svgID" width="640" height="480"></svg> -->

    <!-- <script type="text/javascript">
        var received_data = {{ all_teams | safe }};
        console.log(received_data);

        for (let value of Object.values(received_data)) {
            console.log(value.id)
            // console.log(value.full_name)
            // console.log(value.abbreviation)
            // console.log(value.nickname)
            // console.log(value.city)
            // console.log(value.state)
            // console.log(value.year_founded)
        }


        var margin  = {top: 20, right: 20, bottom: 100, left: 60},
                       width   = 600 - margin.left - margin.right,
                       height  = 400 - margin.top - margin.bottom,
                       x       = d3.scale.ordinal().rangeRoundBands([0,width], 0.5),
                       y       = d3.scale.linear().range([height,0]);

        var svg = d3.select("svg")
                    .attr("width", width + margin.left + margin.right)
                    .attr("height", height + margin.top + margin.bottom)
                    .append("g")
                    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

        d3.json({{ received_data }}, function (data)
                {
                    x.domain(data.map(function (d)
                    {
                        return d.name;
                    }));

                    y.domain([0, d3.max(data, function (d)
                    {
                        return d.wc;
                    })]);

                    svg.append("g")
                        .attr("class", "x axis")
                        .attr("transform", "translate(0, " + height + ")")
                        .call(xAxis)
                        .selectAll("text")
                        .style("text-anchor", "middle")
                        .attr("dx", "-0.5em")
                        .attr("dy", "-.55em")
                        .attr("y", 30)
                        .attr("transform", "rotate(0)" );
                    
                    svg.append("g")
                        .attr("class", "y axis")
                        .call(yAxis)
                        .append("text")
                        .attr("transform", "rotate(-90)")
                        .attr("y", 5)
                        .attr("dy", "0.8em")
                        .attr("text-anchor", "end")
                        .text("Word Count");

                    svg.selectAll("bar")
                        .data(data)
                        .enter()
                        .append("rect")
                        .style("fill", "orange")
                        .attr("x", function(d)
                        {
                            return x(d.name);
                        })
                        .attr("width", x.rangeBand())
                        .attr("y", function (d)
                        {
                            return y(d.wc);
                        })
                        .attr("height", function (d)
                        {
                            return height - y(d.wc);
                        })
                })
    </script>
     -->
{% endblock %}
