{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div>
     {{ next_game }}
    </div>
    <br>
    <div>
    {{ totals_pre_season }}
    </div>
    <br>
    <div>
        {{ totals_regular_season }}
    </div>
    <br>
    <div>
        {{ totals_post_season }}
    </div>
    <br>
    <div>
        {{ career_highs }}
    </div>
    <br>
    <div>
        {{ season_highs }}
    </div>
    <br>
    <div>
        {{ rankings_post_season }}
    </div>
    <br>
    <div>
        {{ rankings_regular_season }}
    </div>

{% endblock %}