{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div>
     {% for pi in player_info %}
     <div>
        <h3> <b>{{ pi.full_name | upper }}</b></h3>
     </div>
     <div>
     <a href="{% url 'nba_data_app:get_one_season_playergamelog' id=pi.id season=year %}">Current Season log</a>
    </div>
    <div>
        <a href="{% url 'nba_data_app:get_all_seasons_playergamelog' id=pi.id %}">All Seasons log</a>
    </div>
    <div>
        <a href="{% url 'nba_data_app:player_dashboard' id=pi.id %}">Player Dashboard</a>
    </div>
    <div>
        <a href="{% url 'nba_data_app:pre_season_stats' id=pi.id %}">Pre Season Stats</a>
    </div>
    <div>
        <a href="{% url 'nba_data_app:regular_season_stats' id=pi.id %}">Regular Season Stats</a>
    </div>
    <div>
        <a href="{% url 'nba_data_app:post_season_stats' id=pi.id %}">Post Season Stats</a>
    </div>
    <div>
        <a href="{% url 'nba_data_app:rankings_regular_season' id=pi.id %}">Rankings Regular Season</a>
    </div>
    <div>
        <a href="{% url 'nba_data_app:rankings_post_season' id=pi.id %}">Rankings Post Season</a>
    </div>
    {% endfor %}
   
    
    </div>
    <br>

    <div>
     <h3>NEXT GAME</h3>
     <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">GAME_DATE</th>
            <th scope="col">GAME_TIME</th>
            <th scope="col">HOME / AWAY</th>
            <th scope="col">VS_TEAM</th>
        </tr>
        </thead>
        <tbody>
        {% for ng in next_game %}
        <tr>
            <td data-title="GAME_DATE">{{ ng.GAME_DATE }}</td>
            <td data-title="GAME_TIME">{{ ng.GAME_TIME }}</td>
            <td data-title="HOME / AWAY">{{ ng.LOCATION }}</td>
            <td data-title="VS_TEAM">{{ ng.VS_TEAM_ABBREVIATION }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>

    <br>

    <!-- <div>
       <h3>CAREER HIGHS</h3>
       <table class="table">
           <thead class="thead-dark">
           <tr>
               <th scope="col">GAME_DATE</th>
               <th scope="col">VS_TEAM_ID</th>
               <th scope="col">VS_TEAM_ABBR</th>
               <th scope="col">STAT</th>
               <th scope="col">STATS_VALUE</th>
               <th scope="col">STAT_ORDER</th>
               <th scope="col">DATE_EST</th>
           </tr>
           </thead>
           <tbody>
           {% for c in career_highs %}
           <tr>
               <td>{{ c.GAME_DATE}}</td>
               <td>{{ c.VS_TEAM_ID }}</td>
               <td>{{ c.VS_TEAM_ABBREVIATION }}</td>
               <td>{{ c.STAT }}</td>
               <td>{{ c.STATS_VALUE }}</td>
               <td>{{ c.STAT_ORDER }}</td>
               <td>{{ c.DATE_EST }}</td>
           </tr>
           {% endfor %}
           </tbody>
       </table>

    </div>

    <br>

    <div>
        {{ season_highs }}
    </div>
    <br> -->
   
{% endblock %}