{% extends 'base.html' %}
{% load static %}


{% block content %}
    <div>
        {{ east_conf_playoff_picture }} 
    </div>
    
    <br>
    <div>
        {{ east_conf_standings }}
    </div>
    
    <br>
    <div>
        {{ east_conf_remaining_games }}  
    </div>
    
    <br>
    <div>
        {{ west_conf_playoff_picture }} 
    </div>
    
    <br>
    <div>
        {{ west_conf_standings }}
    </div>
    
    <br>
    <div>
        {{ west_conf_remaining_games }}  
    </div>
    

{% endblock %}