{% extends 'base.html' %}
{% load static %}

{% block content %}
    <head>
        <style>
             @media (min-width: 740px) and (max-width: 1120px)  {
        table {
          border: 3px solid #c5c1c3;
        }
  
        table thead tr{
          display: none;
        }
        
        table tr {
          display: block;
        }
  
        table th, table td{
          padding: .5em;
        }
  
        table td {
          text-align: right;
          display: block;
          font-size: 1em;
        }
  
        table td::before {
          content: attr(data-title) ": ";
          float: left;
        }
  
        tbody tr:nth-child(even) {
          background-color: #eaeaea;
        }
      }
  
  
    </style>
    </head>
    <body>
    <div>
    <br>
    <h3>LAST TEN GAMES</h3>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">GAME_DATE</th>
            <th scope="col">GAME_ID</th>
            <th scope="col">MatchUp</th>
            <th scope="col">WL</th>
            <th scope="col">MIN</th>
            <th scope="col">FGPCT</th>
            <th scope="col">FG3PCT</th>
            <th scope="col">REB</th>
            <th scope="col">AST</th>
            <th scope="col">STL</th>
            <th scope="col">BLK</th>
            <th scope="col">TOV</th>
            <th scope="col">PTS</th>
        </tr>
        </thead>
        <tbody>
        {% for tg in team_games  %}
        <tr>
            <td data-title="GAME_DATE">{{ tg.GAME_DATE }}</td>
            <td data-title="GAME_ID"><a href="{% url 'nba_data_app:box_score_data' id=tg.GAME_ID %}" >{{ tg.GAME_ID }}</a></td>
            <td data-title="MatchUp">{{ tg.MATCHUP  }}</td>
            <td data-title="WL">{{ tg.WL }}</td>
            <td data-title="MIN">{{ tg.MIN }}</td>
            <td data-title="FG_PCT">{{ tg.FG_PCT }}</td>
            <td data-title="FG3_PCT">{{ tg.FG3_PCT}}</td>
            <td data-title="REB">{{ tg.REB }}</td>
            <td data-title="AST">{{ tg.AST }}</td>
            <td data-title="STL">{{ tg.STL }}</td>
            <td data-title="BLK">{{ tg.BLK }}</td>
            <td data-title="TOV">{{ tg.TOV }}</td>
            <td data-title="PTS">{{ tg.PTS }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    <div>
        <h3>TEAM BACKGROUND</h3>
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">TEAM</th>
                <th scope="col">YEAR FOUNDED</th>
                <th scope="col">CITY</th>
                <th scope="col">ARENA</th>
                <th scope="col">ARENACAP</th>
                <th scope="col">OWNER</th>
                <th scope="col">GM</th>
                <th scope="col">HEADCOACH</th>
                <th scope="col">DLEAGUEAFFIL</th>
            </tr>
            </thead>
            <tbody>
            {% for tb in team_background %}
            <tr>
                <td data-title="TEAM">{{ tb.ABBREVIATION }}</td>
                <td data-title="YEAR FOUNDED">{{ tb.YEARFOUNDED }}</td>
                <td data-title="CITY">{{ tb.CITY }}</td>
                <td data-title="ARENA">{{ tb.ARENA }}</td>
                <td data-title="ARENACAP">{{ tb.ARENACAPACITY }}</td>
                <td data-title="OWNER">{{ tb.OWNER }}</td>
                <td data-title="GM" >{{ tb.GENERALMANAGER }}</td>
                <td data-title="HEADCOACH">{{ tb.HEADCOACH }}</td>
                <td data-title="DLEAGUEAFFIL">{{ tb.DLEAGUEAFFILIATION }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div>
        <h3>YEARLY STATS SUMMARY</h3>
       <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">YEAR</th>
            <th scope="col">W</th>
            <th scope="col">L</th>
            <th scope="col">W_PCT</th>
            <th scope="col">C_RANK</th>
            <th scope="col">D_RANK</th>
            <th scope="col">FINALS</th>
            <th scope="col">FG_PCT</th>
            <th scope="col">FG3_PCT</th>
            <th scope="col">REB</th>
            <th scope="col">AST</th>
            <th scope="col">STL</th>
            <th scope="col">TOV</th>
            <th scope="col">BLK</th>
            <th scope="col">PTS</th>
            <th scope="col">PTS_RANK</th>
        </tr>
        </thead>
        <tbody>
        {% for ys in years_stats %}
            <tr>
                <td data-title="YEAR">{{ ys.YEAR }}</td>
                <td data-title="W">{{ ys.WINS }} </td>
                <td data-title="L">{{ ys.LOSSES }}</td>
                <td data-title="W_PCT">{{ ys.WIN_PCT }}</td>
                <td data-title="C_RANK">{{ ys.CONF_RANK }}</td>
                <td data-title="D_RANK">{{ ys.DIV_RANK }} </td>
                <td data-title="FINALS">{{ ys.NBA_FINALS_APPEARANCE }}</td>
                <td data-title="FG_PCT">{{ ys.FG_PCT }}</td>
                <td data-title="FG3_PCT">{{ ys.FG3_PCT }}</td>
                <td data-title="REB">{{ ys.REB }}</td>
                <td data-title="AST">{{ ys.AST }}</td>
                <td data-title="STL">{{ ys.STL }}</td>
                <td data-title="TOV">{{ ys.TOV }} </td>
                <td data-title="BLK">{{ ys.BLK }}</td>
                <td data-title="PTS">{{ ys.PTS }}</td>
                <td data-title="PTS_RANK">{{ ys.PTS_RANK }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
   
</body>
{% endblock %}