
<div class="row">
    <div class="col-md-4 mt-4">
        <div class="card">
            <div class="card-header bg-info text-white">
                SCOREBOARD
            </div>
            <div class="card-body  text-center">
                {% for s in scoreboard %}
                 {% for bs in s %}
                    <p>{{ bs.TEAM_CITY_NAME }} </p>
                    <p>{{ bs.PTS }} </p>
                    <!-- <p><a href="{% url 'nba_data_app:box_score_data' id=bs.GAME_ID %}">{{ bs.GAME_ID }}</a></p> -->
                 {% endfor %}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="col-md-8 mt-4">
        <div class="card">
            <div class="card-header bg-info text-white">
                ABOUT
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <a class="text-decoration-none text-dark" href="{% url 'nba_data_app:active_player_data' %}">
                            <div class="card my-card shadow">
                                <div class="card-body text-center">
                                    <h4>Players <i class="fas fa-users"></i></h4>
                                    <h3></h3>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a class="text-decoration-none text-dark" href="{% url 'nba_data_app:team_data' %}">
                            <div class="card my-card shadow">
                                <div class="card-body text-center">
                                    <h4>Teams <i class="fas fa-box"></i></h4>
                                    <h3></h3>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a class="text-decoration-none text-dark" href="{% url 'nba_data_app:conference_standings' %}">
                            <div class="card my-card shadow">
                                <div class="card-body text-center">
                                    <h4>Conference Standings</h4>
                                    <h3></h3>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>